:root{
    /*========== Colors ==========*/
    /* HSL color mode */
    --first-color: hsl(186, 51%, 77%);
    --first-color-lighter: hsl(0, 0%, 61%);
    --first-color-dark: hsl(190, 8%, 15%); 
    --first-color-white: hsl(0, 0%, 100%);   
    --body-color: hsl(186, 51%, 77%);
    /*========== Font and typography ==========*/
    --body-font: 'Noto Sans Mono', monospace;
  
    --h1-font-size:  2rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.688rem;
  
    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-header:10000;
  }

  @media only screen and (min-width: 901px) {

    :root{
      --h1-font-size:  3rem;
      --h2-font-size: 2.3rem;
      --h3-font-size: 1.525rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.904rem;
      --smaller-font-size: 0.788rem;
    }  
    
/*==================== LAYOUT ====================*/
.container{
  max-width: 1440px;
}

.header{
  padding: 2rem  5rem;
}
/*==================== Button ====================*/
.btn__port{
  width: 120px;
  height: 45px;
}

.home__content{
  padding-bottom: 4rem;
}

.home__h2__span{
  margin-left: 5rem;
  margin-top: 3.5rem;
}

.home__title{
  text-align: justify;
  margin-left: 10rem;
}


.home__subtitle{
  margin-left: 5rem;
}

.home__paragraph{
  width: 50%;
  margin-left: 5rem;
}

.home__social__list{
  padding: 2.5rem 5rem;
}

.home__social__item{
  height: 60px;
  border: 2px solid var(--first-color-white);
  margin-bottom: 1.5rem;
}

.home__social__icon{
  font-size: 24px;
  left: 2rem;
}
  }